.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1620px;
    width: 100%;
    position: relative;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.row.space-between {
    justify-content: space-between;
}

.row.center {
    justify-content: center;
}


.col {

    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    width: 100%;
    flex: 1 0 100%;
    box-sizing: border-box;

}

.col-1 {
    flex-basis: 8.333333333%;
}


.col-2 {
    flex-basis: 16.666666667%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.33333333333%;
}

.col-5 {
    flex-basis: 41.66666666667%;
}

.col-6 {
    flex-basis: 50%;
}

.col-7 {
    flex-basis: 58.3333333333%;
}

.col-8 {
    flex-basis: 66.666666666667%;
}

.col-9 {
    flex-basis: 75%;
}

.col-10 {
    flex-basis: 83.33333333%;
}

.col-11 {
    flex-basis: 91.66666666667%;
}

.col-12 {
    flex-basis: 100%;
}

@media screen and (min-width: 760px) {
    .col {
        text-align: left;
    }

    .mobilnav {
        display: none;
    }

    .navmain {
        display: block;
    }

    .row {
        max-width: 90%;
    }

    .medium-2 {
        max-width: calc((100%/12*2) - 32px);
    }

    .medium-3 {

        max-width: calc((100%/12*3) - 32px);
    }

    .medium-4 {

        max-width: calc((100%/12*4) - 32px);
    }

    .medium-5 {

        max-width: calc((100%/12*5) - 32px);
    }

    .medium-6 {

        max-width: calc((100%/12*6) - 32px);
    }

    .medium-7 {

        max-width: calc((100%/12*7) - 32px);
    }

    .medium-8 {

        max-width: calc((100%/12*8) - 32px);
    }

    .medium-9 {

        max-width: calc((100%/12*9) - 32px);
    }

    .medium-10 {

        max-width: calc((100%/12*10) - 32px);
    }

    .medium-11 {

        max-width: calc((100%/12*11) - 32px);
    }

    .medium-12 {

        max-width: calc((100%/12*11) - 32px);
    }
}

@media screen and (min-width: 992px) {
    .col {
        text-align: left;
    }

    .mobilnav {
        display: none;
    }

    .navmain {
        display: block;
    }

    .row {
        max-width: 90%;
    }

    .large-2 {
        max-width: calc((100%/12*2) - 32px);
    }

    .large-3 {

        max-width: calc((100%/12*3) - 32px);
    }

    .large-4 {

        max-width: calc((100%/12*4) - 32px);
    }

    .large-5 {

        max-width: calc((100%/12*5) - 32px);
    }

    .large-6 {

        max-width: calc((100%/12*6) - 32px);
    }

    .large-7 {

        max-width: calc((100%/12*7) - 32px);
    }

    .large-8 {

        max-width: calc((100%/12*8) - 32px);
    }

    .large-9 {

        max-width: calc((100%/12*9) - 32px);
    }

    .large-10 {

        max-width: calc((100%/12*10) - 32px);
    }

    .large-11 {

        max-width: calc((100%/12*11) - 32px);
    }

    .large-12 {

        max-width: calc((100%/12*11) - 32px);
    }
}



@media screen and (min-width: 1200px) {

    .giant {
        padding: 0 1rem;
    }

    .giant-2 {

        max-width: calc((100%/12*2) - 32px);
    }

    .giant-3 {

        max-width: calc((100%/12*3) - 32px);
    }

    .giant-4 {

        max-width: calc((100%/12*4) - 32px);
    }

    .giant-5 {

        max-width: calc((100%/12*5) - 32px);
    }

    .giant-6 {

        max-width: calc((100%/12*6) - 32px);
    }

    .giant-7 {

        max-width: calc((100%/12*7) - 32px);
    }

    .giant-8 {

        max-width: calc((100%/12*8) - 32px);
    }

    .giant-9 {

        max-width: calc((100%/12*9) - 32px);
    }

    .giant-10 {

        max-width: calc((100%/12*10) - 32px);
    }

    .giant-11 {

        max-width: calc((100%/12*11) - 32px);
    }

    .giant-12 {

        max-width: calc((100%/12*11) - 32px);
    }



    .giant-suffix-1 {
        margin-left: calc(100%/12);
    }
}



@media screen and (min-width: 1364px) {
    .row {
        max-width: 1620px;
    }

    .giant {

        padding: 0 1rem !important;
    }

    .giant-2 {

        max-width: calc((100%/12*2) - 32px) !important;
    }

    .giant-3 {

        max-width: calc((100%/12*3) - 32px) !important;
    }

    .giant-4 {

        max-width: calc((100%/12*4) - 32px) !important;
    }

    .giant-5 {

        max-width: calc((100%/12*5) - 32px) !important;
    }

    .giant-6 {

        max-width: calc((100%/12*6) - 32px) !important;
    }

    .giant-7 {

        max-width: calc((100%/12*7) - 32px) !important;
    }

    .giant-8 {

        max-width: calc((100%/12*8) - 32px) !important;
    }

    .giant-9 {

        max-width: calc((100%/12*9) - 32px) !important;
    }

    .giant-10 {

        max-width: calc((100%/12*10) - 32px) !important;
    }

    .giant-11 {

        max-width: calc((100%/12*11) - 32px) !important;
    }

    .giant-12 {

        max-width: calc((100%/12*11) - 32px) !important;
    }
}



@media screen and (min-width: 1620px) {
    .row {
        max-width: 1620px;
    }

    .full {

        padding: 0 1rem !important;
    }

    .full-2 {

        max-width: calc((100%/12*2) - 32px) !important;
    }

    .full-3 {

        max-width: calc((100%/12*3) - 32px) !important;
    }

    .full-4 {

        max-width: calc((100%/12*4) - 32px) !important;
    }

    .full-5 {

        max-width: calc((100%/12*5) - 32px) !important;
    }

    .full-6 {

        max-width: calc((100%/12*6) - 32px) !important;
    }

    .full-7 {

        max-width: calc((100%/12*7) - 32px) !important;
    }

    .full-8 {

        max-width: calc((100%/12*8) - 32px) !important;
    }

    .full-9 {

        max-width: calc((100%/12*9) - 32px) !important;
    }

    .full-10 {

        max-width: calc((100%/12*10) - 32px) !important;
    }

    .full-11 {

        max-width: calc((100%/12*11) - 32px) !important;
    }

    .full-12 {

        max-width: calc((100%/12*11) - 32px) !important;
    }
}