.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1620px;
    width: 100%;
    position: relative;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem 0;
}

.row.space-between {
    justify-content: space-between;
}

.row.align-center {
    align-items: center;
}

.row.center {
    justify-content: center;
}

.row.break-right,
.row.break-left {
    max-width: calc(50vw + (1620px / 2));
}

.row.break-right {
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-start;
}

.row.break-left {
    margin-left: 0;
    margin-right: auto;
    justify-content: flex-start;
}



.col {

    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    width: 100%;
    flex: 1 0 100%;
    box-sizing: border-box;

}

.col-1 {
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
}


.col-2 {
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.col-4 {
    flex-basis: 33.33333333333%;
    max-width: 33.33333333333%;
}

.col-5 {
    flex-basis: 41.66666666667%;
    max-width: 41.66666666667%;
}

.col-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.col-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
}

.col-8 {
    flex-basis: 66.666666666667%;
    max-width: 66.666666666667%;
}

.col-9 {
    flex-basis: 75%;
    max-width: 75%;
}

.col-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
}

.col-11 {
    flex-basis: 91.66666666667%;
    max-width: 91.66666666667%;
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}


@media screen and (min-width: 760px) {
    .col {
        text-align: left;
    }

    .mobilnav {
        display: none;
    }

    .navmain {
        display: block;
    }

    .row {
        max-width: 90%;
    }

    .medium-1 {
        flex-basis: 8.333333333%;
        max-width: 8.333333333%;
    }


    .medium-2 {
        flex-basis: 16.666666667%;
        max-width: 16.666666667%;
    }

    .medium-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .medium-4 {
        flex-basis: 33.33333333333%;
        max-width: 33.33333333333%;
    }

    .medium-5 {
        flex-basis: 41.66666666667%;
        max-width: 41.66666666667%;
    }

    .medium-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .medium-7 {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .medium-8 {
        flex-basis: 66.666666666667%;
        max-width: 66.666666666667%;
    }

    .medium-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .medium-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .medium-11 {
        flex-basis: 91.66666666667%;
        max-width: 91.66666666667%;
    }

    .medium-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) {

    .col {
        text-align: left;
    }

    .navmain {
        display: block;
    }

    .row {
        max-width: 90%;
    }

    .large-1 {
        flex-basis: 8.333333333%;
        max-width: 8.333333333%;
    }


    .large-2 {
        flex-basis: 16.666666667%;
        max-width: 16.666666667%;
    }

    .large-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .large-4 {
        flex-basis: 33.33333333333%;
        max-width: 33.33333333333%;
    }

    .large-5 {
        flex-basis: 41.66666666667%;
        max-width: 41.66666666667%;
    }

    .large-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .large-7 {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .large-8 {
        flex-basis: 66.666666666667%;
        max-width: 66.666666666667%;
    }

    .large-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .large-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .large-11 {
        flex-basis: 91.66666666667%;
        max-width: 91.66666666667%;
    }

    .large-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .large-preafix-1 {
        margin-right: 8.33333333333%;
    }



}



@media screen and (min-width: 1200px) {

    .giant-1 {
        flex-basis: 8.333333333%;
        max-width: 8.333333333%;
    }


    .giant-2 {
        flex-basis: 16.666666667%;
        max-width: 16.666666667%;
    }

    .giant-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .giant-4 {
        flex-basis: 33.33333333333%;
        max-width: 33.33333333333%;
    }

    .giant-5 {
        flex-basis: 41.66666666667%;
        max-width: 41.66666666667%;
    }

    .giant-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .giant-7 {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .giant-8 {
        flex-basis: 66.666666666667%;
        max-width: 66.666666666667%;
    }

    .giant-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .giant-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .giant-11 {
        flex-basis: 91.66666666667%;
        max-width: 91.66666666667%;
    }

    .giant-12 {
        flex-basis: 100%;
        max-width: 100%;
    }



    .giant-suffix-1 {
        margin-left: calc(100%/12);
    }


}



@media screen and (min-width: 1364px) {
    .row {
        max-width: 1620px;
    }

    .huge-1 {
        flex-basis: 8.333333333%;
        max-width: 8.333333333%;
    }


    .huge-2 {
        flex-basis: 16.666666667%;
        max-width: 16.666666667%;
    }

    .huge-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .huge-4 {
        flex-basis: 33.33333333333%;
        max-width: 33.33333333333%;
    }

    .huge-5 {
        flex-basis: 41.66666666667%;
        max-width: 41.66666666667%;
    }

    .huge-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .huge-7 {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .huge-8 {
        flex-basis: 66.666666666667%;
        max-width: 66.666666666667%;
    }

    .huge-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .huge-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .huge-11 {
        flex-basis: 91.66666666667%;
        max-width: 91.66666666667%;
    }

    .huge-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .break-right .huge-suffix-1,
    .break-left .huge-suffix-1 {
        margin-right: calc(1620px / 12 * 1);
    }

    .break-right .huge-5,
    .break-left .huge-5 {
        max-width: calc(1620px / 12 * 5);
    }


    .huge-auto {
        max-width: 100%;
        flex-basis: 0;


        max-width: 100%;
    }
}



@media screen and (min-width: 1620px) {
    .row {
        max-width: 1620px;
    }

    .full-1 {
        flex-basis: 8.333333333%;
        max-width: 8.333333333%;
    }


    .full-2 {
        flex-basis: 16.666666667%;
        max-width: 16.666666667%;
    }

    .full-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .full-4 {
        flex-basis: 33.33333333333%;
        max-width: 33.33333333333%;
    }

    .full-5 {
        flex-basis: 41.66666666667%;
        max-width: 41.66666666667%;
    }

    .full-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .full-7 {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .full-8 {
        flex-basis: 66.666666666667%;
        max-width: 66.666666666667%;
    }

    .full-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .full-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .full-11 {
        flex-basis: 91.66666666667%;
        max-width: 91.66666666667%;
    }

    .full-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .full-preafix-1 {
        margin-right: 8.33333333333%;
    }

    .full-suffix-1 {
        margin-left: 8.33333333333%;
    }
}