:root:root {
    --bg-color: #171717;
    --bg-color-light: #1e1e1e;
    --bg-color-lighten: #d0d0d0;
    --bg-color-shaddow: #b7b196;
    --main-color: #ffffff;
    --text-color: #ffffff;
    --second-color: #ffffff;
    --accent-color: #696969;
    --base-padding: 0.6rem 1.4rem
}



/* baloo-bhai-2-regular - latin */
/* baloo-bhai-2-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/baloo-bhai-2-v28-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/baloo-bhai-2-v28-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/baloo-bhai-2-v28-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/baloo-bhai-2-v28-latin-regular.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/baloo-bhai-2-v28-latin-regular.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/baloo-bhai-2-v28-latin-regular.svg#BalooBhai2') format('svg');
    /* Legacy iOS */
}

/* baloo-bhai-2-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/baloo-bhai-2-v28-latin-500.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/baloo-bhai-2-v28-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/baloo-bhai-2-v28-latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/baloo-bhai-2-v28-latin-500.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/baloo-bhai-2-v28-latin-500.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/baloo-bhai-2-v28-latin-500.svg#BalooBhai2') format('svg');
    /* Legacy iOS */
}

/* baloo-bhai-2-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/baloo-bhai-2-v28-latin-700.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/baloo-bhai-2-v28-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/baloo-bhai-2-v28-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/baloo-bhai-2-v28-latin-700.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/baloo-bhai-2-v28-latin-700.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/baloo-bhai-2-v28-latin-700.svg#BalooBhai2') format('svg');
    /* Legacy iOS */
}

::-webkit-scrollbar {
    width: 8px;
    /* Breite der Scrollleiste */
    height: 8px;
    /* Höhe der Scrollleiste (horizontal) */

}

/* Hintergrund der Scrollleiste */
::-webkit-scrollbar-track {
    background: #b5b5b5;
    /* Farbe des Tracks */
    border-radius: 20px;
    /* Abgerundete Ecken */
    height: 25%;
}

/* Daumen der Scrollleiste */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color-lighten);
    /* Farbe des Daumens */
    border-radius: 6px;
    transition: background-color 0.5s ease;


}

/* Daumen beim Hover */
::-webkit-scrollbar-thumb {
    background: var(--bg-color-light);
    /* Farbe beim Hover */
    border-radius: 20px;
    width: 8px;
    /* Breite der Scrollleiste */
    height: 8px;
    /* Höhe der Scrollleiste (horizontal) */
}

::selection {
    background: var(--bg-color-lighten);
    /* Hintergrundfarbe der Markierung */
    color: var(--bg-color);
    /* Textfarbe während der Markierung */
}

select {
    appearance: none;
    /* Entfernt das Standard-Aussehen */
    -webkit-appearance: none;
    /* Für WebKit-basierte Browser wie Safari */
    -moz-appearance: none;
    /* Für Firefox */
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: 'Baloo Bhai 2';

}

main {
    display: block;
    overflow: clip;
}

button {
    all: unset;
    margin: 0 0.5rem 0 0.3rem;
}

header {
    user-select: none !important;
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
    color: white;
    text-align: center;
}

.background-image {
    /* background-image: url(../images/header.png); */
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;

}


header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6) 0%,
            rgba(0, 0, 0, .3) 60%,
            rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}


.btn-header {
    position: absolute;
    color: var(--main-color);
    left: 0;
    right: 0;
    margin: auto;
    bottom: 2rem;
    font-size: 30px;
    z-index: 9999;
    width: fit-content;
}

.btn-header:before {
    position: absolute;
    content: '';
    height: 10rem;
    width: 2px;
    background-color: var(--main-color);
    margin: auto;
    left: 0;
    right: 0;
    bottom: 4rem;
    transition: height 0.3s;
    transform: rotate(180deg);
    border-radius: 10px;
}

.btn-header:hover:before {
    height: 0;
}

.btn-header:hover {
    opacity: 0.7;
}


a {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.15s;
}

a:hover {
    text-decoration: none;
    color: var(--second-color);
}

p {
    margin: 0;
    margin-bottom: 1.5em;
    font-size: 16px;
    line-height: 26px;
}

h2 {
    font-size: 42px;
    display: inherit;
}

.bg-color-light {
    background-color: var(--bg-color-light);
}

.navmain {
    position: fixed;
    z-index: 999999999999 !important;
    padding: 2rem 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
    max-height: 170px;
}

.navmain {
    display: none;
}

.branding img {
    width: 100%;
    object-fit: contain;
    transition: 0.3s;
    object-position: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 3rem;
    font-size: 20px;
    color: var(--second-color);
}

.navmain ul li a {
    color: var(--main-color) !important;
}

.newSection {
    padding-top: 5rem !important;
}



.mobilnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    padding: .7rem 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999999;
    transition: 0.3s;
}


img.navbtn {
    height: 1.8rem;
    transition: 0.3s;
    padding-right: 1rem;
}

.navbtn:hover {
    opacity: 0.7;
}

.mobilnav .mobilnavopen {
    height: 100vh;
    position: absolute;
    max-width: 100%;
    width: 100%;
    right: -100%;
    top: 0;
    transition: ease-in-out 0.5s;
    display: flex;
    z-index: 9999999999999;
}

.navlist {
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(6px) !important;

}

.mobilnav ul {
    display: block;
    height: 100vh;
    max-width: 70%;
    width: 70%;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
    unicode-bidi: unset;
    backdrop-filter: blur(6px) !important;
}

.mobilnav ul li {
    padding: 2rem;
    width: 100%;
    border-bottom: 1px solid var(--main-color);
}

#navbtnclose {
    width: 30%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;

}

.image-container {
    position: relative;
    transition: 0.3s;
    opacity: 0.5;
}

.image-container img {
    border-radius: 1rem;
}

.image-container:hover {
    opacity: 1;
}

.image-container::after {
    border-radius: 1rem;
    content: '';
    height: 100%;
    width: calc(100% - 2rem);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0);
    z-index: -1;
}

.center {
    display: flex !important;
    margin: auto;
}

.vertical-align {
    align-items: center;
}

.gallery img {
    max-height: 15rem;
    border-radius: 10px;
}

.gallery {
    padding: 0 !important;
}

.gallery .row {
    max-width: 100% !important;
}

footer {
    padding: 5rem 0;
    background-color: var(--bg-color-light);
}