.padding {
    padding: 10rem 0;
}

.padding-top {
    padding-top: 10rem;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 38pt;
    margin: 0;
    margin-bottom: 45px;
}

h1 span {
    display: block;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    line-height: 1em;

}

h1:before {
    -webkit-text-stroke-width: 20px;
    -webkit-text-stroke-color: black;

    stroke-width: 20px;
}

.branding {
    height: 100%;
    padding-left: 1rem;
}

header .img-absolute-ct {
    width: 70%;
    height: inherit;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: end;


    img {
        object-fit: contain;
        object-position: bottom right;
    }
}

header .img-absolute-ct::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}




.imgs-absolute-ct {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    min-height: 450px;

    figure {
        position: absolute;
        width: 60% !important;
        height: 70% !important;
        top: 0;
        right: 0;

        img {
            width: 100% !important;
        }
    }

    figure:last-child {
        bottom: 0;
        left: 0;
        right: unset;
        top: unset;
    }
}

.imgs-absolute-ct.left {
    figure {
        position: absolute;
        width: 60% !important;
        height: 70% !important;
        top: 0;
        left: 0;

        img {
            width: 100% !important;
        }
    }

    figure:last-child {
        bottom: 0;
        right: 0;
        left: unset;
        top: unset;
    }
}

footer {
    padding: 5rem 0;
}

/* Small */

@media screen and (min-width:640px) {}

/* Medium */

@media screen and (min-width:760px) {}

/* Large */

@media screen and (max-width: 992px) {
    h1 {
        text-align: center;
    }

    .branding {
        padding-left: 1rem;
    }

    header {
        height: 80vh;
    }

    figure {
        left: 0;
    }

    figure:last-child {
        right: 0 !important;
        left: unset !important;
    }

    .img-absolute-ct {
        height: 80% !important;

        img {
            width: 100%;
            object-fit: contain;
            object-position: bottom right !important;
        }
    }

    .default-last {
        order: 1;
    }
}

@media screen and (min-width: 992px) {

    .padding {
        padding: 12rem 0;
    }

    .padding-top {
        padding-top: 12rem;
    }

    .large-padding {
        padding: 6rem 1rem;
    }

    header {
        height: 100vh;
    }

    header .img-absolute-ct {
        width: 30%;
    }

    h1 {
        font-size: 60px;
        line-height: 70px;

        span {
            font-size: 33.75px;
        }
    }
}

@media screen and (min-width:1200px) {}

@media screen and (max-width: 1363px) {}

@media screen and (min-width:1364px) {
    .padding {
        padding: 17rem 0;
    }

    .padding-top {
        padding-top: 17rem;
    }
}