header {
    height: calc(100dvh - constant(safe-area-inset-bottom));
    /* height: 100dvh; */
}

.section {
    padding: 5rem 0;
    position: relative;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 38pt;
    margin: 0;
    margin-bottom: 45px;
}

h1 span {
    display: block;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    line-height: 1em;

}

h1:before {
    -webkit-text-stroke-width: 20px;
    -webkit-text-stroke-color: black;

    stroke-width: 20px;
}

.branding {
    height: 2rem;
    padding-left: 1rem;
}

header .img-absolute-ct {
    width: 70%;
    height: inherit;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: end;


    img {
        object-fit: contain;
        object-position: bottom;
    }
}

header .img-absolute-ct::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Anfahrt */

body.anfahrt input {
    width: 100%;
}

body.anfahrt .form-container, body.kontakt .form-container {
    display: flex !important;
    border: 2px solid var(--bg-color-light) !important;
    border-radius: 20px !important;
    height: unset;
    padding: 3rem 0;
}

body.kontakt input, body.kontakt textarea {
    border-color: var(--bg-color-light) !important;
}

body.kontakt input[id="datenschutz"]:before {
    background-color: var(--bg-color-light) !important;
}

body.kontakt textarea[id="nachricht"] {
    height: 10rem;
    width: 100%; /* Passt die Breite an den Container an */
    resize: vertical; /* Erlaubt dem Nutzer, die Höhe zu ändern */
    overflow-wrap: break-word; /* Bricht Wörter, die zu lang sind */
    overflow-x: hidden; /* Verhindert horizontalen Scrollbalken */
    padding: 10px; /* Innerer Abstand für besseren Textabstand */
    box-sizing: border-box; /* Enthält Padding und Border in der Breite */
}

body.kontakt .form-section {
    height: unset;
}


 
/* Small */

@media screen and (min-width:640px) {

}

/* Medium */

@media screen and (min-width:760px) {

}

/* Large */

@media screen and (max-width: 992px) {
    header {
        margin-top: 3rem !important;
        height: calc(100vh - 3rem);
    }
    
}

@media screen and (min-width: 992px) {

    .section {
        padding: 12rem 0;
    }

    header .img-absolute-ct {
    width: 30%;
    }

    h1 {
        font-size: 60px;
        line-height: 70px;
        span {
            font-size: 33.75px;
        }
    }
}

@media screen and (min-width:1200px) {

}

@media screen and (max-width: 1363px) {

}

@media screen and (min-width:1364px) {
    .section {
        padding: 17rem 0;
    }
}




